.custom_input {
  display: block;
  width: 100%;
  height: 3rem;
  font-family: "Space Mono", monospace, "sans-serif";
  text-align: right;
  font-size: 1.5rem;
  color: #1d484c;
  background-color: #f3f9fa;
  border: none;
  cursor: pointer;
  border-radius: 0.31rem;
  padding-right: 1rem;
}

.custom_input:focus {
  outline-color: #26c2ae;
}

.custom_input_active {
  border: 1px solid #26c2ae;
}

.custom_input:hover {
  border: 1px solid #26c2ae;
  outline-color: #26c2ae;
}

.custom_input::-webkit-outer-spin-button,
.custom_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
