.reset_btn {
  font-size: 1.25rem;
  background-color: #5fc3af;
  color: #1d484c;
  text-transform: capitalize;
  border: none;
  border-radius: 0.32rem;
  height: 3rem;
  margin-top: auto;
  cursor: pointer;
}

.reset_btn:disabled {
  background-color: #2d686d;
}
